$mainpurple: #E25C32
$darkerpurple: #E25C32
$textpurple: #F5E7B6
$bckg: #E25C32
$brightgreen: #A3D22E
$brightyellow: #F8EC62
$brightblue: #36A2EB
$brightorange: #F3945E
$lightred: #F47E84
$textgrey: #a1a3af
$purpleedit: #9091A6

